{%extends 'sablona.html' %}

{% block content %}
<form action="" method="post">{% csrf_token %}
<input type="text" name="a">

<select name="operator">
<option value="+" {%if request.POST.operator == "+"%} selected {% endif %}>+</option>
<option value="-" {%if request.POST.operator == "-"%} selected {% endif %}>-</option>
<option value="*" {%if request.POST.operator == "*"%} selected {% endif %}>*</option>
<option value="/" {%if request.POST.operator == "/"%} selected {% endif %}>/</option>
</select>

<input type="text" name="b">
<input type="submit" value="vypocitaj">
<div> {{ vysledok}}
{{ err_msg }}
</form>
{%endblock %}